altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.7
cPython==0.0.6
curses==2.2.1+utf8
future==0.18.2
idna==3.3
importlib-metadata==4.8.1
keyboard==0.13.5
numpy==1.21.4
pefile==2021.9.3
pyinstaller==4.6
pyinstaller-hooks-contrib==2021.3
pymongo==3.12.1
pywin32-ctypes==0.2.0
pyxel==1.4.3
requests==2.26.0
typing-extensions==3.10.0.2
urllib3==1.26.7
windows-curses==2.2.0
zipp==3.6.0
